<!DOCTYPE html>

<html>
  <head>
    <!--<link type="text/css" rel="stylesheet" href="/static/cmd.css" />-->

    <style type="text/css">
	body {
  	background: #111;
  	color: #e2e2e2;
  	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  	font-size: 15px;
  	line-height: 1.2;
  	font-weight: 100;
  	letter-spacing: 1px;
  	-webkit-text-size-adjust: none;
	}
	a:link {color: #FFFFFF;background-color: #000000;text-decoration:none;}
	a:visited {color: #FFFFFF;background-color: #000000;text-decoration:none;}
	a:hover {color: #000000;background-color: #FFFFFF;text-decoration:none;}
    </style>

    <title>Homio</title>
  </head>

  <body>
    
    <!-- sort out guestbook (appengine tutorial)
    --><!--<a href="/guest">Guest Book(Google | broken - no DB)</a><br>-->
        
    <!-- messing about -->
    <b>Curiosities</b><br>
    --><a href="/rot13">Rot13</a><br>
    --><a href="/ascii">AsciiChan</a><br>
    --><a href="/cookie">COOKIES NOM-NOM</a><br>
        
    <!-- basic blog - no login -->
    --><a href="/blog">Blog</a><br>
        
    <!-- signup/login/logout/welcome -->
    <br>
    <b>BLOG - Signup</b><br>
    --><a href="/blog/signup">Sign Up </a><br>
    --><a href="/blog/login">BLogin </a><br>
    --><a href="/blog/logout">BLogout </a><br>
        
  
  </body>

</html>